0brien.dev, www.0brien.dev {
	encode gzip zstd

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "DENY"
		Content-Security-Policy-Report-Only "default-src 'self'; script-src 'self' 'unsafe-inline' https://kit.fontawesome.com; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self' data: https://kit.fontawesome.com https://ka-f.fontawesome.com; connect-src 'self' https://ka-f.fontawesome.com"
	}

	handle /api/* {
		reverse_proxy backend:8000
	}

	handle /admin* {
		reverse_proxy backend:8000
	}

	handle /media/* {
		reverse_proxy backend:8000
	}

	handle /fonts/* {
		reverse_proxy backend:8000
	}

	handle /bundles/* {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:3000
	}
}
